# Basic Python Syntax

## 1.Backslash:

backslash is used for continuation

In [1]:
'''without backslash'''
print("hello 
      how are
      you")

SyntaxError: EOL while scanning string literal (<ipython-input-1-79e848c16c91>, line 2)

In [2]:
'''in order to deal with above situation we use continuation sign or backslash- with backslash'''
print("hello\
        how are\
        you")

hello        how are        you

## 2.Triple Quotes:
1.used to print multiline string as it is 
2.to make multiline comments in documents 
3.to write sql queries

In [3]:
print('''hello dear
how are you
how you doing''')

hello dear
how are you
how you doing

In [4]:
'''Multiline
comments that vl not b executed
'''

'Multiline\ncomments that vl not b executed\n'

In [5]:
a='''
select * from table xyz
'''

# # 3.String inside quotes
using single,double quotes one inside other

In [6]:
print('python's world')

SyntaxError: invalid syntax (<ipython-input-6-3f3d487a621e>, line 1)

In [7]:
print("python's world")

python's world

## 4.Escape sequence of string
used to print spaces inside a sting

In [8]:
print('pythons\tworld')

pythons	world

In [9]:
print('pythons\nworld')

pythons
world

In [10]:
print('python\'s world')

python's world

## 5.formatted output
how to print multiple statements inside print syntax ..?

In [15]:
name='prashant'
marks=67.7867457
age=30

In [16]:
print("the name is",name,"marks is",marks,"age is",age)

('the name is', 'prashant', 'marks is', 67.7867457, 'age is', 30)

In [17]:
print('the name is %s the marks is %f the age is %d'%(name,marks,age))

the name is prashant the marks is 67.786746 the age is 30

In [19]:
print('the name is %10s the marks is %10f the age is %10d'%(name,marks,age))

the name is   prashant the marks is  67.786746 the age is         30

In [20]:
print('the name is %5s the marks is %10.2f the age is %5d'%(name,marks,age))

the name is prashant the marks is      67.79 the age is    30

In [22]:
print(f'the name is {name} marks is {marks} age is {age}')

SyntaxError: invalid syntax (<ipython-input-22-7d5b1b6533f8>, line 1)

# python variables n assignment statements

In [25]:
a=10
b=10
id(a)
id(b)
id(a)==id(b)

True

In [26]:
if=10

SyntaxError: invalid syntax (<ipython-input-26-d804dbd42c9d>, line 1)

In [27]:
_joke=90
print(_joke)

90

In [28]:
10a=49

SyntaxError: invalid syntax (<ipython-input-28-7bbadc9ad055>, line 1)

In [29]:
_10=6
print(_10)

6

In [30]:
bang_temp=88

In [31]:
x=y=z=10

In [32]:
x

10

In [33]:
y

10

In [34]:
id(x)==id(y)==id(x)

True

In [35]:
del x

In [36]:
x

NameError: name 'x' is not defined

In [37]:
y

10

In [38]:
z

10

In [39]:
del y

In [40]:
del z

In [41]:
z

NameError: name 'z' is not defined

In [42]:
3**3

27

In [43]:
5//2

2

In [44]:
5/2

2

In [45]:
10/2

5

In [46]:
10%3

1

In [47]:
a=10
b=20
a==b

False

In [48]:
c=10
a==c

True

In [49]:
c<a

False

In [50]:
c<=a

True

In [51]:
c>=a

True

In [52]:
c!=a

False

In [53]:
12**=2

SyntaxError: can't assign to literal (<ipython-input-53-7232e6a3b27f>, line 1)

In [54]:
10|4

14

In [55]:
10&4

0

In [56]:
a=240
b=1

In [57]:
a|b

241

In [58]:
bin(a)

'0b11110000'

In [59]:
2>4 or 4>2

True

In [60]:
3>2 and 5>4

True

In [61]:
10>9 and 20>m

NameError: name 'm' is not defined

In [62]:
10<9 and 20>m

False

In [63]:
stri="python go"

In [64]:
y in stri

NameError: name 'y' is not defined

In [65]:
"y" in stri

True

In [66]:
"a" in stri

False

In [67]:
"h" in stri

True

In [68]:
"h" not in stri

False

In [69]:
a=10
b=10
a==b
id(a)==id(b)

True

In [70]:
x=1.2
y=1.2
x is y

False

In [71]:
id(x)==id(y)

False

In [72]:
a=257
b=257
a is b

False

In [73]:
10/20*4

0

In [74]:
10+10/20*4

10

In [75]:
2**-1

0.5

In [76]:
10>8>9

False

In [77]:
10<8>9

False